//*********************************************
//		Assets
//*********************************************
@import "_base/reset"
@import "_base/grid"
@import "_base/fonts"

//***********************COLORS & FONTS***********************//
$header-font-bold: "BebasNeueBold", sans-serif
$header-font-reg: "BebasNeueRegular", sans-serif
$main-font-regular: "GothamProRegular", sans-serif
$main-font-Medium: "GothamProMedium", sans-serif
$main-font-Light: "GothamProLight", sans-serif
//*********************************************
//		Blocks
//*********************************************
